/* Preview */

.preview {
	color: #fff;
	line-height: initial;
	background: rgb(174,178,213);
	background: linear-gradient(180deg, rgba(174,178,213,1) 0%, rgba(9,9,121,1) 100%);
}

.preview::before {
	background-image: url("../../../../../pictures/logo-wp.png");
}

.preview::after {
	display: none;
}

/*.preview .lines {*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 0;*/
/*	width: 220px;*/
/*	height: 185px;*/
/*	background: url("../../pictures/first-slide-topleft-corner.png") center/contain no-repeat;*/
/*	transform: scale(1, -1);*/
/*}*/

/*.preview .stripes {*/
/*	position: absolute;*/
/*	top: -10px;*/
/*	left: 0;*/
/*	width: 80px;*/
/*	height: 140px;*/
/*	background: url("../../pictures/stripes.png") center/190px no-repeat;*/
/*}*/

.preview h1 {
	position: relative;
	top: calc(35%);
	transform: translateY(-50%);
	margin: 0;
	/*font: 300 36px/1 "Arial", sans-serif;*/
}

.preview p {
	position: absolute;
	bottom: 0;
	max-width: 150px;
	margin: 0 0 60px 0;
}
