/* Preview */

.preview {
	color: #fff;
	line-height: initial;
	background: url("../../pictures/background.png") no-repeat center/cover;
}

.preview::before {
	background-image: url("../../pictures/logo-white.png");
}

.preview::after {
	background: url("../../pictures/yellow-circle.png") 100px 25px/cover no-repeat;
	width: 570px;
	height: 350px;
	padding: 127px 0 0 150px;
	font: italic bold 220px/1 "Arial", sans-serif;
	content: '#8';
}

.preview .lines {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 185px;
	background: url("../../pictures/first-slide-topleft-corner.png") center/contain no-repeat;
	transform: scale(1, -1);
}

.preview .stripes {
	position: absolute;
	top: -10px;
	left: 0;
	width: 80px;
	height: 140px;
	background: url("../../pictures/stripes.png") center/190px no-repeat;
}

.preview h1 {
	position: relative;
	top: calc(50% - 40px);
	transform: translateY(-50%);
	margin: 0;
	font: 300 36px/1 "Arial", sans-serif;
}

.preview p {
	position: absolute;
	bottom: 0;
	max-width: 150px;
	margin: 0 0 60px 0;
}
